section.education
  .education__details
    .education__level #{value.level}
    time.education__dates.sm-hide #{locals.formatDate(value.endDate)}
  p
    - url = value.url
    span.education__location
      a(target="_blank" href=url) #{value.educator}
    |, #{value.address}
  ul.education__honors
    each val in value.honors
      li= val

